<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Home Page</h2>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
        <p><a href="{% url 'post_job' %}">Post a Job</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign up</a></p>
    {% endif %}

    {% if jobs %}
        <ul>
            {% for job in jobs %}
                <li><strong>{{ job.title }}</strong> 
                    {{ job.description }}
                    <p><strong>Year of experience </strong>{{ job.experience}}</p></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No job has been posted.</p>
    {% endif %}

</body>
</html>